.Message {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3.5vmin;
    text-align: center;
}

.gameOn {
    font-size: 2vmin;
    color: #999;
}

.gameOver {
    color: firebrick;
    font-weight: 700;
    font-size: 5vmin;
}
