.Splatter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3vmin;
    right: 3vmin;
    transition: all 0.1s;
    cursor: pointer;
}

.Splatter-svg {
    fill: tomato;
}

.Splatter:hover {
    transform: scale(1.3) skew(-10deg);
}

.Splatter-text {
    position: absolute;
    max-width: 6vmin;
    color: #465a72;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75vmin;
    transform: rotate(-15deg) skew(-1s5deg);
}
